tasklist-action-buttons {
  .button-create {
    background-color: #2ca536 !important;
    color: white !important;
  }
  .button-update {
    background-color: #2c6fab !important;
    color: white !important;
  }
  .button-delete {
    background-color: #d06c3b !important;
    color: white !important;
  }
}