<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                {{ "BRAND.NAME" | translate }}
            </div>
        </div>
        <nav class="menu">
            <ul class="nav metismenu" id="sidebar-menu">
                <!--<ng-container *ngFor="let navigationItem of navigationItems">-->
                    <!--<li *ngIf="navigationItem.enabled" routerLinkActive="active">-->
                        <!--<a href="#" class="nav-link">-->
                            <!--<i class="fa fa-car"></i>-->
                            <!--{{navigationItem.title | translate}}-->
                            <!--<i class="fa fa-caret-down"></i>-->
                        <!--</a>-->
                        <!--<ul>-->
                            <!--<ng-container *ngFor="let route of navigationItem.routes">-->
                                <!--<li *ngIf="routeHasLink(route)">-->
                                    <!--<a routerLink="{{ route.path }}">-->
                                        <!--{{ route.linkName | translate}}-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ng-container>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ng-container>-->
            </ul>
        </nav>
    </div>
    <footer class="sidebar-footer"></footer>
</aside>